/*body {
	font: 12px/20px 'Museo500', Museo500, Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
}*/
@import url(../plugins/bootstrap/css/bootstrap-responsive.css);
@import url(animate.css);


body {
	font-family: 'Roboto', Arial, sans-serif;
	border-top: 4px solid #629ad2;
	background: #f8f8f9 url(/hackerforge_assets/img/computer-bg.jpg) top center repeat-x;
	
}
.inner {
	position: relative;
	min-height: 100%;
}
p,li,a {
	font-family: 'Roboto', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
p,li {
	font-size: 14px;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
p.center {text-align: center;}
a {
	cursor: pointer;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
a:hover, a:active {
	color: #4496d2;
}
.fl { float: left !important; }
.fr { float: right !important; }



/*body > .container {
	min-height: 780px;
}*/





.social-area {
	margin-top: 8px;
	float: right;
}
.social a {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-right: 2px;
	text-align: center;
	line-height: 39px;
	color: #FFF;
}
.social a i {
	font-size: 18px;
}
.social a.facebook {
	background: #3b5998;
	border: 1px solid #3b5998;
}
.social a.facebook:hover {
	background: none;
	color: #3b5998;
}
.social a.twitter {
	background: #00acee;
	border: 1px solid #00acee;
}
.social a.twitter:hover {
	background: none;
	color: #00acee;
}
.social a.google {
	background: #dd4b39;
	border: 1px solid #dd4b39;
}
.social a.google:hover {
	background: none;
	color: #dd4b39;
}
.social a.linkedin {
	background: #0e76a8;
	border: 1px solid #0e76a8;
}
.social a.linkedin:hover {
	background: none;
	color: #0e76a8;
}


#main-content {
	margin-top: 80px;
	/*margin-bottom: 40px;*/
}
#main-logo {
	text-align: center;
	margin: 0 auto 6px auto;
}
#main-logo img:first-of-type {
	margin-bottom: 20px;
}
#main-logo img {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.hackerForge-logo-text {
	width: 394px;
	/*width: 200%;*/
	height: 63px;
}
.hackerForge-logo {
	width: 260px;
	height: 260px;
	-webkit-transition: -webkit-transform 1s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out;
	-ms-transition: -ms-transform 1s ease-in-out;
	    transition: transform 1s ease-in-out;
}
.hackerForge-logo:active {
	/*background-position:-238px 0px;*/
	 -webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	    transform: rotate(360deg);
}

/*#main-content h1 {
	font-family: "museo-slab", "Museo300", serif;
	font-weight: 100;
}
#main-content h1 span {
	font-weight: 700;
}*/

#main-content .text-wrap {
	width: 52%;
	margin: 0 auto 40px auto;
}
#main-content h3 {
	font-size: 36px;
	font-weight: 100;
	line-height: 40px;
	margin-top: 0;
	color: #32363a;
	text-align: center;
}

#main-content form {
	width: 50%;
	margin: 0 auto 30px auto;
}

#main-content input[type="email"] {
	float: left;
	width: 70%;
	height: 54px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 20px;
	color: #78787b;
	background-color: #FFF;
	border: 1px solid #cbcbcc;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 22px;
	font-weight: 300;
	line-height: 40px;
	z-index: 1;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	-ms-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
}
#main-content input[type="email"]:hover {
	/*border: 2px solid #cbcbcc;*/
	border-color: #a6a6a9;
	color: #78787b;
}
#main-content input[type="email"]:focus {
	border-color: #787879;
	color: #32363a;
}

::-webkit-input-placeholder { font-family: 'Roboto', Arial, sans-serif; color:#78787b; font-size: 20px;}
::-moz-placeholder { font-family: 'Roboto', Arial, sans-serif; color:#78787b; font-size: 20px;}
:-ms-input-placeholder { font-family: 'Roboto', Arial, sans-serif; color:#78787b; font-size: 20px;}
input:-moz-placeholder { font-family: 'Roboto', Arial, sans-serif; color: #78787b;font-size: 20px; }
::placeholder { font-family: 'Roboto', Arial, sans-serif; color: #78787b; font-size: 20px;}

#main-content input[type="submit"] {
	/*float: right;*/
	width: 30%;
	padding: 12px 21px;
	height: 54px;
	border: 2px solid #629ad2;
	margin: 0 0 0 -2px;
	box-sizing: border-box;
	-webkit-appearance: none;
	background: #629ad2;
	color: #FFF;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1px;
	border: none;
	/*border: 2px solid #FFF;*/
	text-transform: uppercase;
	z-index: 2;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	-ms-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
}


#main-content input[type="submit"]:hover {
	color: #629ad2;
	border: 2px solid #629ad2;
	background: none;
}

#mc_embed_signup .button {
	clear: none !important;
}


.provided-by {
	margin: 20px auto 40px auto;
	width: 40%;
	
	display: table;
	/*text-align: center;*/
}
.provided-by img {
	/*width: 120px;
	height: 120px;*/
	float: left;
	/*display: table-cell;*/
	margin: 0;
}


.logo-wrap {
	/*width: 40%;*/
}
.bpcc-text {
	/*width: 50%;*/
	/*float: right;*/
	vertical-align: middle;
	display: table-cell;
	padding-left: 10px;
}
.provided-by h4 {
	font-size: 22px;
	font-weight: 300;
	margin-top: 10px;
	/*text-align: left;*/
}
.provided-by h5 {
	font-weight: 700;
	font-size: 18px;
	/*text-align: left;*/
}

/*table {
	width: 60%;
	margin: 0 auto 20px auto;
	text-align: center;
}
table td {
	width: 50%;
}
table .done-by {
	padding-top: 15px;
}
table td p {
	color: #7d7f81;
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 18px;
}
table td p strong {
	color: #32363a;
	font-weight: 700;
}*/




.footer {
	background: #32363a;
	padding: 20px 0;
	height: 40px;
	border-top: 2px solid #629ad2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: absolute:
	bottom: 0;
}
.footer .footer-logo {
	float: right;
}
.footer .who-dun-it > div {
	display: inline-table;
}
.footer .who-dun-it > div img {
	/*float: left;*/
	display: inline-block;
	margin: 0 10px 0 0;
}
.footer .who-dun-it > div img.footer-bpcc-logo {
	margin-top: -4px;
}
.footer .who-dun-it > .provided-by {
	margin-left: 40px;
}
.footer-tel-logo {
	margin-right: 10px;
}
.footer p {
	/*float: left;*/
	display: inline-block;
	font-size: 13px;
	color: #888;
	margin: auto;
}
.footer .span3 {
	padding-top: 6px;
}
.footer a {
	color: #888;
}
.footer a:hover, .footer a:active {
	color: #629ad2;
}




.clear,
.clear:after,
.hero:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}





#main-logo, .hackerForge-logo, .hackerForge-logo-text {
	-webkit-animation-duration: 2s;
	/*-webkit-animation-delay: 1s;*/
	-webkit-animation-iteration-count: infinite;
	
	-moz-animation-duration: 2s;
	/*-moz-animation-delay: 1s;*/
	-moz-animation-iteration-count: infinite;
	
	animation-duration: 2s;
	/*animation-delay: 1s;*/
	animation-iteration-count: infinite;
}

/*.hackerForge-logo-text {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	animation-delay: .5s;
}*/


@media (max-width: 1200px) {
	.provided-by {
		width: 46%;
	}
}

@media (max-width: 979px) {
	.provided-by {
		width: 42%;
	}
}

/*@media (max-width: 1400px) {
	.provided-by {
		width: 48%;
	}
}
*/



@media (max-width: 979px) {
	#signup {
		padding: 50px 0 70px 0;
	}
	#signup h1 {
		font-size: 44px;
		line-height: 48px;
		margin-bottom: 30px;
	}
	#main-content form,
	#main-content .text-wrap {
		width: 90%;
	}
	.provided-by {
		width: 70%;
	}
	.provided-by img {
		margin-left: 0px;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
}


@media (max-width:767px) {
	
	#signup {
		/*height: 160px;*/
		margin: 0 !important;
		padding: 50px 0px;
	}
	#signup h1 {
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	#main-logo img.hackerForge-logo-text {
		width: 80%;
		height: 80%;
	}
	#main-content form,
	#main-content .text-wrap {
		width: 90%;
	}

	.provided-by {
		width: 70%;
	}
	.provided-by h4 {
		margin-top: 5px;
	}
	.provided-by h5 {
		font-size: 16px;
	}

	#main-content form {
		width: 94%;
	}
	#main-content h3 {
		font-size: 24px;
		line-height: 32px;
	}
	#main-content input[type="email"] {
		width: 66%;
		font-size: 18px;
	}
	#main-content input[type="submit"] {
		padding: 12px 10px;
		font-size: 18px;
		width: 34%;
		letter-spacing: 0px;
	}
	::-webkit-input-placeholder { font-size: 18px; }
	::-moz-placeholder { font-size: 18px; }
	:-ms-input-placeholder { font-size: 18px; }
	input:-moz-placeholder { font-size: 18px; }
	::placeholder { font-size: 18px;}
	
	.social {
		padding-right: 10px;
	}
	.footer .span3 {
		display: none;
	}
	.footer .span9 {
		padding-left: 10px;
	}

	#signup input[type="email"], #signup input[type="text"],
	#signup input[type="submit"], .submit-btn {
		font-size: 15px;
	}
	#signup input[type="email"], #signup input[type="text"] {
		width: 100%;
		clear: both;
	}
	#signup input[type="submit"], .submit-btn {
		width: 100%;
		float: none;
		margin: 0 auto;
	}

}


