    <div class="span9 well" style="margin-top:10px;text-align:center;">
      <h2>Congratulations! Your seat has now been officially saved for the <%= @course.name %>!</h2>
      <p>Your new cohort begins <%= @cohort.start_date.to_date.to_s(:long) %>, and ends on <%= @cohort.end_date.to_date.to_s(:long) %></p>
      <p>Your class will be held at <a href="http://cohab.org/">Cohab</a>, located at: <br />500 Clyde Fant Parkway • Suite 200 - Shreveport, LA 71101</p>
      <p>You will soon receive a poll asking what schedule works best for you, so watch your e-mail for that!</p>
      <p>The Friday before the course begins, you will receive Day 1 instructions via e-mail from your instructors.</p>
    </div>

