    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script>
      $(document).ready(function(){

        var payment_type = null;
      
        var handler = StripeCheckout.configure({
          <% unless Rails.env == "production" %>
          key: 'pk_test_ZDft2CIc3FKsDXK1i2em4OQG',
          <% else %>
          key: 'pk_live_86RncZurprkq5uSBgVcBoDui',
          <% end %>
          token: function(token) {
            // Use the token to create the charge with a server-side script.
            // You can access the token ID with `token.id`
            $.post("/api/applicants/<%= @applicant.id %>/submit_charge", 
              {'token': token, 'type': payment_type},
              function(data, status, xhr) {
                if(data.success) {
                  document.location = data.redirect_to;
                }
              }).fail(function(){
                alert("There was an error processing your payment. Please contact Hackerforge if you believe this to be an error.");
              });
          } //token function
        }); //Ready

        $('#payment_button').on('click', function(e) {
          // Open Checkout with further options
          payment_type = "subscription" 

          handler.open({
            name: 'HackerForge.io - Tuition',
            description: 'Twice Monthly Payment Plan',
            amount: 40000
          });
          e.preventDefault();
        });

        $('#full_payment_button').on('click', function(e) {
          // Open Checkout with further options
          payment_type = "full_payment" 

          handler.open({
            name: 'HackerForge.io - Tuition',
            description: 'Full Payment',
            amount: 200000
          });
          e.preventDefault();
        });

        // Close Checkout on page navigation
        $(window).on('popstate', function() {
          handler.close();
        });
      
      });
    </script>
  

    <div class="span9 well" style="margin-top:10px;text-align:center;">
      <h2>Congratulations! You've passed the entrance exam!</h2>
      <p>You should have already received an e-mail from the instructor explaining the decision and welcoming you into the cohort!</p>
    </div>

    <div class="span9 alert alert-danger" style="margin-top:10px;text-align:center;">
      <h2>WARNING: <br />You must still enter your credit card information <br />to reserve your seat!</h2>
      <hr />
      <p style="text-align:center;font-size: large;">Your seat is not reserved until you subscribe to pay over a 10 week period or when you pay in full.</p>
      <p style="text-align:center;font-size: large;">Your card will be charged immediately. Every two weeks from the date your card is charged, you will be charged again.</p>
    </div>

    <div class="span9 well" style="margin-top:10px;text-align:center;">
      <h2>Reserve your seat now!</h2>
      <a style="text-align:center;" href="#" id="payment_button" class="btn btn-large btn-success" >Pay Every Two Weeks - $400</a>
      <a style="text-align:center;" href="#" id="full_payment_button" class="btn btn-large btn-info" >Pay In Full</a>
    </div>
