<div class="span9 well" style="margin-top:10px;text-align:center;">
  <h2>Unfortunately, the current cohort has filled with paid students already.</h2>
  <p>No charge has been processed on your credit card yet!</p>
  <p>If you would still like to take the course, another cohort may have seats available for you!</p>
  <p><a href="<%= course_path(@course) %>">Click Here</a> to select another cohort for this class!</a></p>
</div>
