<div class="span3">
    <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
            <img alt="" src="<%= @applicant.profile_image_url %>">
        </div>
        <div class="info">
            <div class="title">
                <a target="_blank" href="<%= @applicant.app_user_link %>"><%= @applicant.name %></a>
            </div>
        </div>
        <div class="bottom">
          <h4><b>Status</b>: <br /><i><%= @applicant.status.titleize %></i></h4>
          <br /><br />

          <% if ["exam_complete", "awaiting_payment", "subscribed", "paid_in_full", "accepted_into_cohort", "awaiting_new_cohort"].include?(@applicant.status) %>
            <h4><b>Equipment Preference: </b><br /> <i><%= @applicant.needs_equipment ? "I need a laptop provided" : "I have my own laptop" %></i> </h4>
            <a style="text-align:center;" href="<%= course_cohort_applicant_has_equipment_path(@course, @cohort, @applicant) %>" class="btn btn btn-success" >I have my own equipment</a> <br /><br />
            <a style="text-align:center;" href="<%= course_cohort_applicant_needs_equipment_path(@course, @cohort, @applicant) %>" class="btn btn btn-info" >I need Cohab to provide a laptop</a>
          <% end %>
        </div>
    </div>
</div>
