    <div class="span9 well" style="margin-top:10px;text-align:center;">
      <h2>Thank you! We will contact you soon!</h2>
      <p>Your test should be graded within 48 hours during the business week (Monday - Friday), depending on volume of invites.</p>
      <p>Expect an e-mail from our instructors soon!</p>
    </div>
