    <div class="span9 well" style="margin-top:10px;text-align:center;">
      <h2>Unfortunately, you did not pass the exam.</h2>
      <p>You should have already received an e-mail from the instructor explaining the decision for the grade of the exam.</p>
      <p>We encourage you try again for our next cohort after learning a little more prior to coming in to the bootcamp.</p>
    </div>
