    <div class="span9 well" style="margin-top:10px;text-align:center;">
      <h2><%= @exam.title %></h2>
      <p style="font-size: 25px;text-align:center;"><%= @course.name %></p>
      <p style="font-size: 20px;text-align:center;"><%= @cohort.start_date.to_date.to_s(:long) %> - <%= @cohort.end_date.to_date.to_s(:long) %></p>
    </div>

    <div class="span9" style="margin-top:10px;text-align:center;">
      <a href="<%= course_exam_path(@course, @exam) %>" class="btn btn-large btn-success offset1 span10">Take the Entrance Exam!</a>
    </div>

    <div class="span9 well" style="margin-top:10px;text-align:center;">
      <%= @exam.explanation_html.html_safe %>
    </div>

    <div class="span9 well" style="margin-top:10px;text-align:center;">
      <%= @exam.special_information_html.html_safe %>
    </div>

    <div class="span9 well" style="margin-top:10px;text-align:center;">
      <h2>When will I know if I passed the application?</h2> 
      <p>You should receive a confirmation of whether or not you have passed the test within 48 hours of taking the test during business hours.</p>
    </div>

    <div class="span9" style="margin-top:10px;text-align:center;">
      <a href="<%= course_exam_path(@course, @exam) %>" class="btn btn-large btn-success offset1 span10">Take the Entrance Exam!</a>
    </div>
