    <style>
      p {
        margin-left: 10px;
        margin-right:10px;
        text-align:justify;
        font-size: 20px;
      }
    </style>

		<section id="top" class="row-fluid">
			<div class="container">
				<div class="rightSide">
					<div class="social-area">
						<div class="social">
							<a href="https://www.facebook.com/cohabitatshreveport" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <!-- <a href="http://www.twitter.com/hackerForge" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> -->
							<!-- <a href="https://plus.google.com/112906852134930549869/" target="_blank" class="google"><i class="fa fa-google-plus"></i></a> -->
							<!-- <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section id="main-content" class="row-fluid">
			<div class="container">
				<div id="main-logo" class="animated">
					<img class="hackerForge-logo animated" src="/hackerforge_assets/img/hackerForge-logo-new.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new.png'">
					<img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new-text.png'">

					<!-- <img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.png"> -->
				</div>

      </div>

      <div class="container" style="text-align:center;">
        <h1>Applying for the <%= @course.name %> course. </h1>
        <h2 class="alert alert-success">Cohort Starting on <%= @cohort.start_date.to_date.to_s(:long) %></h2>
      </div>

      <br /><br />

      <div class="container" style="text-align:center;">
        <h3>Ready to begin? Need to pick up where you left off?</h3>
        <br /><br />
        <div class="">
          <a href="/auth/facebook" class="span12 btn btn-large btn-success">Sign in to Facebook to Begin!</a>
          <br />
          <a href="#" onclick="$('.why_login').toggle('slide');return false;">Why do I need to Login?</a>
        </div>
        <br /><br />
        <div style="display:none;" class="span12 why_login">
          <h3>Why do I need to Login?</h3>
          <div class="offset2 span7">
            <p>1. We completely respect your privacy and you will not be spammed. Your information will not be used for any other purpose than letting you know whether you've passed the entrance application or not.</p>
            <p>2. Your facebook photo will be featured on the website when you are chosen for a cohort. Smile!</p>
            <p>3. We use your social information to track your application and learn a little more about who you are, so the instructors can tailor the course to the students. </p>
            <p>4. We also use this to prove that you are a real person. No robots allowed!</p>
          </div>
        </div>
      </div>

        <div class="container why_login" style="text-align:center;display:none;">
          <h3>Have more questions?</h3>
          <a href="/faq" class="btn btn-large btn-warning">Check out our Frequently Asked Questions</a>
        </div>
    </section>

    <br /><br />
