		<section id="top" class="row-fluid">
			<div class="container">
				<div class="rightSide">
					<div class="social-area">
						<div class="social">
							<a href="https://www.facebook.com/cohabitatshreveport" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <!-- <a href="http://www.twitter.com/hackerForge" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> -->
							<!-- <a href="https://plus.google.com/112906852134930549869/" target="_blank" class="google"><i class="fa fa-google-plus"></i></a> -->
							<!-- <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section id="main-content" class="row-fluid">
        <div class="container">
          <div id="main-logo" class="animated">
            <img class="hackerForge-logo animated" src="/hackerforge_assets/img/hackerForge-logo-new.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new.png'">
            <img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new-text.png'">

            <!-- <img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.png"> -->
          </div>
        </div>

        <div class="container">
          <div class="row">
            <%= render 'card' %>

            <%= render @applicant.status %>

          </div>
        </div>
    </section>
