<div class="row">
  <div class="course_listing span12">
    <a href="<%= course_path(course) %>"><img src="<%= course.cover_image.url(:main) %>" class="img-rounded"></a>
    <h2 class="visible-desktop"><u><%= link_to course.name, course_path(course) %></u></h2>
    <small class="hidden-desktop"><u><%= link_to course.name, course_path(course) %></u></small>
  </div>
</div>
