<section id="top" class="row-fluid">
  <div class="container">
    <div class="rightSide">
      <div class="social-area">
        <div class="social">
          <a href="https://www.facebook.com/cohabitatshreveport" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
          <!-- <a href="http://www.twitter.com/hackerForge" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> -->
          <!-- <a href="https://plus.google.com/112906852134930549869/" target="_blank" class="google"><i class="fa fa-google-plus"></i></a> -->
          <!-- <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section id="main-content" class="row-fluid">
  <div class="container">
    <div id="main-logo" class="animated">
      <a href="/"><img class="hackerForge-logo animated" src="/hackerforge_assets/img/hackerForge-logo-new.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new.png'"></a>
    </div>

  <!-- Begin MailChimp Signup Form -->
  <div class="form-container">
    <div id="mc_embed_signup">
      <form action="/signup" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="email" value="" name="email" class="email" id="mce-EMAIL" placeholder="Email Address" required>
        <input type="submit" value="Apply Now!" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>
  <!--End mc_embed_signup-->

    <style>
      div.text-wrap h2 { text-align: center; }

      div.text-wrap p {
        text-align: justify;
      }
    </style>

    <div class="text-wrap">
      <h1 style="text-align: center;">Frequently Asked Questions</h1> 
    </div>

    <div class="text-wrap">
      <h2>What is HackerForge?</h2>
      <p >HackerFORGE is an intensive bootcamp that will teach qualified students to computer program in just 10 weeks. Our goal is to help you develop the groundwork you need to learn basic programming and find a new job, improve your skills for the job you have, or begin your own business.</p>
    </div>

    <div class="text-wrap">
      <h2>Qualified students? Does that mean I need to be a computer expert to apply?</h2>
      <p> No, we believe anyone can learn to code, and we don’t decide who to admit based solely on computer skills or prior experience. Here are some of the things we do look for and expect.  </p>
      <ol >
        <li>Your willingness to commit to the program and learn. Just like you wouldn’t expect to learn French in 10 weeks without immersion, you can’t expect to learn programming if you aren’t fully committed. That means making it to class, and taking work home with you.</li>
        <li>Your ability to think critically, problem solve, and be creative</li>
        <li>Basic computer skills. While no coding experience is required, you should be excited to be learning this new skill and comfortable sitting down and getting to work at a computer. A basic understanding of how coding works will also be helpful to get you off on the right foot</li>
      </ol>
    </div>

    <div class="text-wrap">
      <h2>When and where will the class take place?</h2>
      <p>This 10 first week course will take place at Cohab under the Texas Street Bridge in the Red River District. Classes will happen every Monday, Wednesday, and Friday from 6 p.m. – 8 p.m. from June 1st – August 7th 2015. <br /><br />
      Future class details will vary and will be announced as new classes are listed. </p>
    </div>

    <div class="text-wrap">
      <h2>Can I really learn to code in 10 weeks?</h2>
      <p>Yes, if you’re ready to learn, we’re ready to help you get there.</p>
      <p>While this could be one of the most challenging goals you’ll ever reach for in developing your personal skills, we believe it will also be one of the most rewarding.</p>
      <p>By the end of the course, you will be ready for an entry level internship in a programming career.</p>
    </div>

    <div class="text-wrap">
      <h2>Will you help me find a job after I’m done with the program?</h2>
      <p>Yes! Right after seeing that shiny “I just learned something” look on your face, helping you find a new job (or other opportunity) is our favorite thing to do. </p>
      <p>At the conclusion of week eight, we will host an inverted job fair where you will display your work to date and current projects. Potential employers will be invited to walk through, meet the students, ask questions, look at some programs and code, and find their next interns and employees.</p>
      <p>Demand is high for people with these skills. We’ll get you in touch with the people who need you now.</p>
    </div>

    <div class="text-wrap">
      <h2>Do I have to go find a job in coding when I’m done?</h2>
      <p>No! Students want to develop personal coding skills for a variety of reasons, and we love that. We will work to help you find a gig if you’d like. If you’d rather use these skills to advance within the job you have now, let us know how we can help you with that instead. Want to use them start your own business? We love and can help with that too. </p>
    </div>

    <div class="text-wrap">
      <h2>How much does it cost?</h2>
      <p>Ten week camps cost $2,000, with payment plans available to pay during the length of the course. Future camps’ pricing will vary by length.</p>
    </div>
    
    <div class="text-wrap">
      <h2>Can I finance the camp?</h2>
      <p>There are a couple of different payment options available to interested students. Get in touch with us and let us know you’re interested and we can help you explore these payment options.</p>
    </div>

    <div class="text-wrap">
      <h2>What programming language will I be learning?</h2>
      <p>HackerFORGE will offer boot camp opportunities in a number of different languages and skill sets eventually, but this first class, beginning June 1st, 2015, will focus on Ruby on Rails</p>
    </div>

    <div class="text-wrap">
      <h2>Do I need to provide my own computer?</h2>
      <p>No! Computers will be provided for the duration of the course. You will be able to take your machine home with you to do homework and projects. You WILL have to return the computer at the end of your camp (or the camp would be much more expensive).</p>
    </div>

    <div class="text-wrap">
      <h2>What is the structure of the course? </h2>
      <p>The 10 week course will be broken up into two (roughly) five week sections. The first five weeks will focus on fundamentals and getting you prepared for hands-on work. Then comes the fun stuff, rolling up your sleeves and doing some coding with purpose. The second five weeks will be largely project based. You will be teamed up with local businesses and startups to help solve real-world problems, making your resulting portfolio meaningful to potential employers.</p>
    </div>

    <div class="text-wrap">
      <h2>What can I expect to be able to do or make when I’m done with the camp?</h2>
      <p>After the course, you will have worked on two major portfolio pieces: your first web application ever, and a real-world project, with real-world problems and solutions.</p>
      <p>Once you've learned the fundamentals of Ruby on Rails, you should be able to:</p>
      <ol>
        <li>Understand the fundamentals of all the technologies that go into a Ruby on Rails Website.</li>
        <li>Take a problem in the real-world, and begin crafting a data model that represents the database.</li>
        <li>Learn how to build the Models, Views, and Controllers that make a web application function.</li>
        <li>Use Twitter Bootstrap to create good looking websites.</li>
        <li>Learn the fundamentals of jQuery and Javascript to create fancy effects and other modern web techniques.</li>
        <li>Understand how to learn even more after the course, how to debug problems and get yourself "un-stuck".</li>
        <li>Apply the basics of sharing your code with other develpers, to get help as well as to collaborate with other developers.</li>
      </ol>
    </div>

    <div class="text-wrap">
      <h2></h2>
      <p></p>
    </div>
  </div>

</section>

<footer>
  <div class="footer row-fluid">
    <div class="container">

      <div class="span9 who-dun-it">
        <div class="powered-by">
          <img class="footer-tel-logo" src="/hackerforge_assets/img/syndikoslogo.png" style="height: 60px;margin-top: -10px;">
          <p>Powered By: <strong><a href="http://syndikos.io" target="_blank" >Syndikos</a></strong></p>
        </div>
      </div>

      <div class="span3">
        <p>© 2015 Syndikos</p>
      </div>
    </div>
  </div>
</footer>

<!-- Facebook Conversion Code for Bootcamp Registrations -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6023077526110', {'value':'0.00','currency':'USD'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6023077526110&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
