		<section id="top" class="row-fluid">
			<div class="container">
				<div class="rightSide">
					<div class="social-area">
						<div class="social">
							<a href="https://www.facebook.com/cohabitatshreveport" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <!-- <a href="http://www.twitter.com/hackerForge" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> -->
							<!-- <a href="https://plus.google.com/112906852134930549869/" target="_blank" class="google"><i class="fa fa-google-plus"></i></a> -->
							<!-- <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section id="main-content" class="row-fluid">
			<div class="container">
        <div class="row">
          <div id="main-logo" class="animated">
            <img class="hackerForge-logo animated" src="/hackerforge_assets/img/hackerForge-logo-new.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new.png'">
            <img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new-text.png'">

            <!-- <img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.png"> -->
          </div>
				<!-- <h1 class="main-logo-text">Hacker<span>Forge</span></h1> -->
        </div>
        <div class="row">
          <div class="text-wrap">
            <h3>Learn technical skills in an accelerated format for an affordable price.</h3>
          </div>
        </div>

        <% Course.active.each do |course| %>
          <%= render 'course_listing', :course => course %>
        <% end %>

        <br /> <br />
				
        <div class="text-center span12" >
          <a href="/faq" class="visible-desktop btn btn-large btn-success offset3 span6" style="font-size: 22pt;">Frequently Asked Questions</a>
          <a href="/faq" class="hidden-desktop btn btn-large btn-success span12" style="font-size: 12pt;">Frequently Asked Questions</a>
        </div>



				<!--End mc_embed_signup-->

				<!-- <div class="who-dun-it">
					<div class="powered-by">
						<img class="footer-tel-logo" src="img/footer-tel-logo2.png">
						<p>Powered By: <strong>Twin Engine Labs</strong></p>
					</div>
					<div class="provided-by">
						<img class="footer-bpcc-logo" src="img/footer-bpcc-logo.png">
						<p>Provided By: <strong>Bossier Parish Community College</strong></p>
					</div>
				</div> -->

        <br /><br />
				<div class="who-dun-it">
					<div class="provided-by">
						<div class="bpcc-text">
							<h2 style="text-align:center;float:left;">Provided By:</h2>
              <a href="http://cohab.org" style="float:right;"><img class="bpcc-logo" src="/hackerforge_assets/img/cohab.png" style="width: 200px"></a>
						</div>
						
						<!-- <div class="logo-wrap"> -->
						<!-- </div> -->

					</div>

				</div>
			
			</div>
		</section>

	


	<footer>
		<div class="footer row-fluid">
			<div class="container">

				<div class="span9 who-dun-it">
					<div class="powered-by">
						<img class="footer-tel-logo" src="/hackerforge_assets/img/syndikoslogo.png" style="height: 60px;margin-top: -10px;">
						<p>Powered By: <strong><a href="http://syndikos.io" target="_blank" >Syndikos</a></strong></p>
					</div>
				</div>

				<div class="span3">
					<p>© 2015 Syndikos</p>
				</div>
			</div>
		</div>
	</footer>

