		<section id="top" class="row-fluid">
			<div class="container">
				<div class="rightSide">
					<div class="social-area">
						<div class="social">
							<a href="https://www.facebook.com/cohabitatshreveport" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <!-- <a href="http://www.twitter.com/hackerForge" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> -->
							<!-- <a href="https://plus.google.com/112906852134930549869/" target="_blank" class="google"><i class="fa fa-google-plus"></i></a> -->
							<!-- <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section id="main-content" class="row-fluid">
			<div class="container">
				<div id="main-logo" class="animated">
					<img class="hackerForge-logo animated" src="/hackerforge_assets/img/hackerForge-logo-new.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new.png'">

					<!-- <img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.png"> -->
				</div>
				<!-- <h1 class="main-logo-text">Hacker<span>Forge</span></h1> -->
				
				<div class="text-wrap">
          <h1 style="text-align: center;">Thank you!</h1> 
          <h3>You will receive an e-mail when we begin sending the applications soon! <br />Stay tuned!</h3>
				</div>
			</div>
		</section>

	


	<footer>
		<div class="footer row-fluid">
			<div class="container">

				<div class="span9 who-dun-it">
					<div class="powered-by">
						<img class="footer-tel-logo" src="/hackerforge_assets/img/syndikoslogo.png" style="height: 60px;margin-top: -10px;">
						<p>Powered By: <strong><a href="http://syndikos.io" target="_blank" >Syndikos</a></strong></p>
					</div>
				</div>

				<div class="span3">
					<p>© 2015 Syndikos</p>
				</div>
			</div>
		</div>
	</footer>

  <!-- Facebook Conversion Code for Bootcamp Registrations -->
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6023077526110', {'value':'0.00','currency':'USD'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6023077526110&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
