		<section id="top" class="row-fluid">
			<div class="container">
				<div class="rightSide">
					<div class="social-area">
						<div class="social">
							<a href="https://www.facebook.com/cohabitatshreveport" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <!-- <a href="http://www.twitter.com/hackerForge" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> -->
							<!-- <a href="https://plus.google.com/112906852134930549869/" target="_blank" class="google"><i class="fa fa-google-plus"></i></a> -->
							<!-- <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="main-content" class="row-fluid">
			<div class="container" style="text-align:center;">
        <div class="row">
          <img class="hackerForge-logo animated" src="/hackerforge_assets/img/hackerForge-logo-new.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new.png'" style="width: 100px;">
          <img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new-text.png'">
        </div>

        <%= render "index/course_listing", :course => @course %>
        
        <div class="row">
          <% @course.cohorts.registrations_open.order("start_date ASC").each_with_index do |cohort, idx| %>
            <div class="<%= "offset2" unless idx == 0 %> span5">
              <div class="box">
                  <div class="box-icon">
                      <span class="fa fa-4x fa-calendar"></span>
                  </div>
                  <div class="info">
                      <h4 class="text-center">Cohort #<%= idx + 1%> </h4>
                      <p style="font-size: 20px;text-align:center;"><%= cohort.start_date.to_date.to_s(:long) %> - <%= cohort.end_date.to_date.to_s(:long) %></p>
                      <%= cohort.schedule_html.html_safe %>
                      <% unless cohort.extra_information_html.blank? %>
                        <p class="alert warning" style="text-align:left;"><%= cohort.extra_information_html.html_safe %></p>
                      <% end %>
                      <% unless cohort.full? %>
                        <a href="<%= new_course_cohort_applicant_path(@course, cohort) %>" class="btn btn-success">Apply Now!</a>
                      <% else %>
                        <a href="#" class="btn btn-danger disabled">Class Full</a>
                      <% end %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="row" style="text-align:left;margin-top:50px;">
          <div class="well">
            <%= @course.html_description.html_safe %>
          </div>
        </div>

        <% unless @course.pricing_html.blank? %>
        <div class="row" style="text-align:left;margin-top:50px;">
          <div class="well">
            <%= @course.pricing_html.html_safe %>
          </div>
        </div>
        <% end %>

        <% unless @course.schedule_html.blank? %>
        <div class="row" style="text-align:left;margin-top:50px;">
          <div class="well">
            <%= @course.schedule_html.html_safe %>
          </div>
        </div>
        <% end %>
      </div>
    </section>
