/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 
 /*
 *= require font-awesome
 */
  .well p {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
  }
  .card {
      padding-top: 20px;
      margin: 10px 0 20px 0;
      background-color: rgba(214, 224, 226, 0.2);
      border-top-width: 0;
      border-bottom-width: 2px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 1600px; 
  }

  .card .card-heading {
      padding: 0 20px;
      margin: 0;
  }

  .card .card-heading.simple {
      font-size: 20px;
      font-weight: 300;
      color: #777;
      border-bottom: 1px solid #e5e5e5;
  }

  .card .card-heading.image img {
      display: inline-block;
      width: 46px;
      height: 46px;
      margin-right: 15px;
      vertical-align: top;
      border: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }

  .card .card-heading.image .card-heading-header {
      display: inline-block;
      vertical-align: top;
  }

  .card .card-heading.image .card-heading-header h3 {
      margin: 0;
      font-size: 14px;
      line-height: 16px;
      color: #262626;
  }

  .card .card-heading.image .card-heading-header span {
      font-size: 12px;
      color: #999999;
  }

  .card .card-body {
      padding: 0 20px;
      margin-top: 20px;
  }

  .card .card-media {
      padding: 0 20px;
      margin: 0 -14px;
  }

  .card .card-media img {
      max-width: 100%;
      max-height: 100%;
  }

  .card .card-actions {
      min-height: 30px;
      padding: 0 20px 20px 20px;
      margin: 20px 0 0 0;
  }

  .card .card-comments {
      padding: 20px;
      margin: 0;
      background-color: #f8f8f8;
  }

  .card .card-comments .comments-collapse-toggle {
      padding: 0;
      margin: 0 20px 12px 20px;
  }

  .card .card-comments .comments-collapse-toggle a,
  .card .card-comments .comments-collapse-toggle span {
      padding-right: 5px;
      overflow: hidden;
      font-size: 12px;
      color: #999;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .card-comments .media-heading {
      font-size: 13px;
      font-weight: bold;
  }

  .card.people {
      position: relative;
      display: inline-block;
      width: 170px;
      height: 300px;
      padding-top: 0;
      margin-left: 20px;
      overflow: hidden;
      vertical-align: top;
  }

  .card.people:first-child {
      margin-left: 0;
  }

  .card.people .card-top {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 170px;
      height: 150px;
      background-color: #ffffff;
  }

  .card.people .card-top.green {
      background-color: #53a93f;
  }

  .card.people .card-top.blue {
      background-color: #427fed;
  }

  .card.people .card-info {
      position: absolute;
      top: 150px;
      display: inline-block;
      width: 100%;
      height: 101px;
      overflow: hidden;
      background: #ffffff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  .card.people .card-info .title {
      display: block;
      margin: 8px 14px 0 14px;
      overflow: hidden;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      color: #404040;
  }

  .card.people .card-info .desc {
      display: block;
      margin: 8px 14px 0 14px;
      overflow: hidden;
      font-size: 12px;
      line-height: 16px;
      color: #737373;
      text-overflow: ellipsis;
  }

  .card.people .card-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      padding: 10px 20px;
      line-height: 29px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  .card.hovercard {
      position: relative;
      padding-top: 0;
      overflow: hidden;
      text-align: center;
      background-color: rgba(214, 224, 226, 0.2);
  }

  .card.hovercard .cardheader {
      background-size: cover;
      height: 135px;
  }

  .card.hovercard .avatar {
      position: relative;
      top: -50px;
      margin-bottom: -50px;
  }

  .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
      max-width: 100px;
      max-height: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid rgba(255,255,255,0.5);
  }

  .card.hovercard .info {
      padding: 4px 8px 10px;
  }

  .card.hovercard .info .title {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 1;
      color: #262626;
      vertical-align: middle;
  }

  .card.hovercard .info .desc {
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
      color: #737373;
      text-overflow: ellipsis;
  }

  .card.hovercard .bottom {
      padding: 0 20px;
      margin-bottom: 17px;
  }

  .course_listing {
    text-align: center;
    position: relative;
    #border: 1px solid blue;
  }

  .course_listing a {
    color: white;
    text-decoration: none;
  }

  .course_listing h2 {
    color:white;
    position:absolute;
    bottom: 10px;
    right:10px;
    text-align:left;
    #border: 1px solid pink;
  }

  .course_listing small {
    color:white;
    position:absolute;
    bottom: 10px;
    right:10px;
    text-align:left;
    #border: 1px solid pink;
  }

  .box {
      border-radius: 3px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      padding: 10px 25px;
      text-align: right;
      display: block;
      margin-top: 60px;
  }
  .box-icon {
      background-color: #57a544;
      border-radius: 50%;
      display: table;
      height: 100px;
      margin: 0 auto;
      width: 100px;
      margin-top: -61px;
  }
  .box-icon span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
  }
  .info h4 {
      font-size: 26px;
      letter-spacing: 2px;
      text-transform: uppercase;
  }
  .info > p {
      color: #717171;
      font-size: 16px;
      padding-top: 10px;
      text-align: justify;
  }
  .info > a {
      background-color: #03a9f4;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: #fff;
      transition: all 0.5s ease 0s;
  }
  .info > a:hover {
      background-color: #0288d1;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
      color: #fff;
      transition: all 0.5s ease 0s;
  }

