<section id="top" class="row-fluid">
<div class="container">
  <div class="rightSide">
    <div class="social-area">
      <div class="social">
        <a href="https://www.facebook.com/cohabitatshreveport" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
        <!-- <a href="http://www.twitter.com/hackerForge" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> -->
        <!-- <a href="https://plus.google.com/112906852134930549869/" target="_blank" class="google"><i class="fa fa-google-plus"></i></a> -->
        <!-- <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
      </div>
    </div>
  </div>
</div>
</section>


<section id="main-content" class="row-fluid">
<div class="container">
  <div id="main-logo" class="animated">
    <img class="hackerForge-logo animated" src="/hackerforge_assets/img/hackerForge-logo-new.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new.png'">
    <img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.svg" onerror="this.onerror=null; this.src='/hackerforge_assets/img/hackerForge-logo-new-text.png'">

    <!-- <img class="hackerForge-logo-text animated" src="/hackerforge_assets/img/hackerForge-logo-new-text.png"> -->
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render 'applicants/card' %>

    <% unless @applicant.exam_complete? %>
      <div class="span9 well" style="margin-top:10px;text-align:center;">
        <h2><%= @exam.title %></h2>
        <p style="font-size: 25px;text-align:center;"><%= @course.name %></p>
        <p style="font-size: 20px;text-align:center;"><%= @cohort.start_date.to_date.to_s(:long) %> - <%= @cohort.end_date.to_date.to_s(:long) %></p>
      </div>

      <div class="span9 well">

        <div class="span9" style="margin-top:10px;text-align:center;">
          <%= @question.explanation_html.html_safe %>
        </div>

        <div class="span9" style="margin-top:10px;text-align:center;border-bottom:1px solid black;"> </div>


        <div class="span9" style="margin-top:10px;text-align:center;">
          <%= @question.question_html.html_safe %>
        </div>

        <div class="span9" style="margin-top:10px;text-align:center;border-top: 1px solid black;">
          <%= form_for [@course, @exam, @question, @answer], :html => {:style=>"margin:0 0 0 0;width:100%;"} do |f| %>

            <div class="control-group" style="width:100%;">
              <h4>Your Answer:</h4>
              <div class="controls" style="width:100%;">
                <% if @question.answer_type == "string" %>
                  <%= f.text_field :answer, :class => "input-xlarge" %>
                <% else %>
                  <%= f.text_area :answer, :style => "width:100%;", :rows => 10 %>
                <% end %>
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-success btn-large">Submit Answer</button>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="span9 well" style="margin-top:10px;text-align:center;">
        <% if @applicant.exam_complete? %>
          <p class="alert alert-success">Your application is under review. <br />Expect an answer within 48 hours during business hours</p>
        <% else %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</section>
