<title><%= @title || controller.action_name.capitalize() %> | Powered by: Syndikos - Provided by: Cohab</title>

<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
<meta name="description" content="HackerForge - Powered by: Twin Engine Labs - Provided by: Bossier Parish Community College">
<meta name="author" content="Twin Engine Labs">
<meta name="keywords" content="twin engine labs, bpcc, bossier parish community college, hackerforge, ">
<link rel="shortcut icon" href="favicon.ico">
<!-- CSS Global Compulsory-->
<link rel="stylesheet" href="/hackerforge_assets/plugins/bootstrap/css/bootstrap.css">
<!-- <link rel="stylesheet" href="/hackerforge_assets/plugins/bootstrap/css/bootstrap-responsive.css"> -->
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,500italic,400italic,300italic,100italic,700italic' type='text/css'>
<link rel="stylesheet" href="/hackerforge_assets/plugins/font-awesome/css/font-awesome.css" >

<link rel="stylesheet" href="/hackerforge_assets/css/hackerforge.css">
